.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}

// @include lineClamp;
// -webkit-line-clamp: 2;

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $OpenSans;
    font-weight: 400;
    background-color: #000;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: $global;
    display: flex;
    flex-direction: column;
    // @include max($lg) {
    //     line-height: 1.5;
    //     font-size: 16px;
    // }
}

[class*='__container'] {
    max-width: 1710px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bnt-reset {
    cursor: pointer;
    outline: transparent;
    padding: 0;
    border: none;
    background-color: transparent;
}

.subtitle {
    position: relative;
    display: block;
    font-family: $CormorantUpright;
    color: $white;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    padding-bottom: 19px;
    margin-bottom: 7px;
    &::before {
        position: absolute;
        content: '';
        @include bg;
        background-image: url(../images/spoon.svg);
        width: 40px;
        height: 9px;
        bottom: 0;
        left: 0;
    }
}

.btn-global {
    font-family: $CormorantUpright;
    padding: 8px 32px;
    background-color: $gold;
    font-weight: 700;
    color: #0C0B08;
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
    @media (any-hover:hover) {
        &:hover {
            background-color: $white;
            box-shadow: 2px 2px 2px $gold;
        }
    }
    &:focus {
        background-color: $white;
    }
    &:active {
        box-shadow: none;
    }
}

.scroll {
    position: absolute;
    font-family: $CormorantUpright;
    text-transform: uppercase;
    color: $gold;
    padding-top: 85px;
    font-weight: 700;
    bottom: 50px;
    right: 30px;
    transition: color 0.2s ease-in;
    &::after {
        position: absolute;
        content: '';
        top: 25px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        background-image: url(../images/scroll-decor.svg);
        @include bg;
        height: 2px;
        width: 61px;
    }
    @media (any-hover:hover) {
        &:hover {
            color: $white;
        }
    }
    &:focus {
        color: $white;
    }
    &:active {
        color: $global;
    }
}


.title {
    font-weight: 600;
    font-family: $CormorantUpright;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $gold;
    // @include max($sm) {
        
    // }
}
