
$global: #aaa;
$black: #000;
$white: #fff;
$gold: #dcca87;
// $orange: #ec1f4f;
// $blue: #07192f;

// $xl: 1200;
// $lg: 990;
// $md: 720;
// $sm: 540;
// $s: 400;

$OpenSans: 'OpenSans', sans-serif;
$CormorantUpright: 'CormorantUpright', sans-serif;





